@font-face {
  font-family: 'Flame-Regular';
  src: url('Flame-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Flame-Bold';
  src: url('Flame-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Flame-Regular", sans-serif;
  font-size: 15pt;
}

/* newsletter and website text only */
h1 {
  font-family: "Flame-Bold", sans-serif;
  font-size: 20pt;
  letter-spacing: 3px;
  padding: 8px;
  color: white;
  text-shadow: 4px 2px black;
}

.container {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

a {
	text-decoration: none;
	color: white;
}

.sniff, .rhiannon {
  display: flex;
  flex-direction: row wrap;
  width: 45%;
  border-radius: 25px;
}

.sniff {
  background: #ff9950;
  border: solid gold 5px;
  margin: 5px 0px 5px 0px;
}

.sniff p, .rhiannon p {
	padding: 25px;
}

.sniff img {
  padding-top: 5px;
}

.rhiannon {
  background-color: black;
}

.rhiannon p {
 color: white;
}

.rhiannon a {
 color: gold;
}

.newsletter, .website {
  display: flex;
  align-items: center; 
  justify-content: center; 
  background-color: #ff9950;
  width: 45%;
  border: solid gold 5px;
  border-radius: 25px;
  margin-top: 5px;
}

.website {
  background-color: lightblue;
}
