@font-face {
  font-family: 'Flame-Regular';
  src: url('Flame-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Flame-Bold';
  src: url('Flame-Bold.ttf') format('truetype');
}

html {
  font-size: calc(60% + 0.8vmin);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Flame-Regular", sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
}

main {
  max-width: 40rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-family: "Flame-Bold", sans-serif;
  font-size: .75rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.sniff {
  flex: 1;
  display: flex;
  flex-direction: row;
  background: #ff9950;
  border: solid gold 5px;
  margin: 5px 0px 5px 0px;
  border-radius: 25px;
}

.sniff_left {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.sniff_title, .sniff_package, .sniff_mail {
  flex: 1;
  display: flex;
}

.sniff_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.rhiannon {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  background-color: black;
  color: white;
}

.rhiannon_left, .rhiannon_right {
  flex: 1;
}

.sniff p, .rhiannon p {
  padding: 25px;
}

.sniff img {
  padding-top: 5px;
}

.links {
  flex: 1;
  display: flex;
  flex-direction: column;	
}

.newsletter, .website {
  flex: 1;
  align-items: center; 
  justify-content: center; 
  background-color: #ff9950;
  width: 45%;
  border: solid gold 5px;
  border-radius: 25px;
  margin-top: 5px;

  letter-spacing: 3px;
  padding: 8px;
  color: white;
  text-shadow: 4px 2px black;
}

.website {
  background-color: lightblue;
}

/* newsletter page */
.container2 {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  width: 45%;
  background-color: white;
  color: black;
  border: solid gold 5px;
  border-radius: 25px;
  margin: 5px 0 5px 0;
  padding: 20px;
}

.issue-list a {
  color: black;
  padding: 10px;
}

.issue-list {
  color: black;
  padding: 10px;
  line-height: 90%;
}

.button {
  background-color: #FF9950;
  color: black;
  border: solid gold 5px;
  border-radius: 20px;
  padding: 10px 25px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
}

@media(max-width: 798px) {
  .sniff, .rhiannon, .newsletter, .website, .newsletter-container {
    width: 100%;
  }

  .main-nav {  
    flex-wrap: wrap;
    flex-basis: 100%;
    flex: 1; 
  }  
}
